<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OTConcurrentLinkedQueue.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OTConcurrentLinkedQueueTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D46D3F5014FC43AA00DEDEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46D3F6014FC43AA00DEDEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46D3F7E14FD60B900DEDEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D46D3F9514FD60B900DEDEDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
